[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/data/kubernetes/bin/kube-controller-manager \
	    --address=127.0.0.1 \
	    --master=http://127.0.0.1:8080 \
	    --allocate-node-cidrs=true \
	    --service-cluster-ip-range=10.254.0.1/16 \
            --cluster-cidr=172.17.0.0/16 \
            --cluster-name=kubernetes \
            --cluster-signing-cert-file=/data/kubernetes/ssl/ca.pem \
            --cluster-signing-key-file=/data/kubernetes/ssl/ca-key.pem \
            --service-account-private-key-file=/data/kubernetes/ssl/ca-key.pem \
            --root-ca-file=/data/kubernetes/ssl/ca.pem \
            --leader-elect=true \
            --v=2 \
            --logtostderr=false \
            --log-dir=/data/kubernetes/logs/k8s
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
