[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart=/data/kubernetes/bin/kube-apiserver \
	    --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota,NodeRestriction \
	    --bind-address={{ MASTER_ADDRESS }} \
            --external-hostname={{ HOSTNAME }} \
	    --authorization-mode=Node,RBAC \
	    --runtime-config=rbac.authorization.k8s.io/v1 \
	    --anonymous-auth=false \
	    --kubelet-https=true \
	    --basic-auth-file=/data/kubernetes/conf/basic-auth.csv \
	    --enable-bootstrap-token-auth \
	    --token-auth-file=/data/kubernetes/conf/bootstrap-token.csv \
            --service-cluster-ip-range={{ CLUSTER_IP_RANGE }} \
            --service-node-port-range=20000-40000 \
            --tls-cert-file=/data/kubernetes/ssl/kubernetes.pem \
            --tls-private-key-file=/data/kubernetes/ssl/kubernetes-key.pem \
            --client-ca-file=/data/kubernetes/ssl/ca.pem \
            --service-account-key-file=/data/kubernetes/ssl/ca-key.pem \
            --etcd-cafile=/data/kubernetes/ssl/ca.pem \
            --etcd-certfile=/data/kubernetes/ssl/kubernetes.pem \
            --etcd-keyfile=/data/kubernetes/ssl/kubernetes-key.pem \
            --etcd-servers="{{ ETCD_SERVERS }}" \
            --enable-swagger-ui=true \
            --allow-privileged=true \
            --audit-log-maxage=30 \
            --audit-log-maxbackup=3 \
            --audit-log-maxsize=100 \
            --audit-log-path=/data/kubernetes/logs/k8s/api-audit.log \
            --event-ttl=1h \
            --v=2 \
            --logtostderr=false \
            --log-dir=/data/kubernetes/logs
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
