#!/bin/bash
/data/kubernetes/bin/etcdctl --ca-file /data/kubernetes/ssl/ca.pem --cert-file /data/kubernetes/ssl/kubernetes.pem --key-file /data/kubernetes/ssl/kubernetes-key.pem --no-sync -C {{ ETCD_ENDPOINTS }}  get "/kubernetes/network/config" >/dev/null 2>&1
if [ $? -eq 0 ];then
  exit 0
else
  /data/kubernetes/bin/etcdctl --ca-file /data/kubernetes/ssl/ca.pem --cert-file /data/kubernetes/ssl/kubernetes.pem --key-file /data/kubernetes/ssl/kubernetes-key.pem   --no-sync -C {{ ETCD_ENDPOINTS }}  mk /kubernetes/network/config '{"Network": "{{ CLUSTER_CIDR }}","Backend": {"Type": "vxlan","VNI": 1}}'
fi
